{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.subject) }}
    <div class="col-md-6">
        {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(form.body) }}
    <div class="col-md-6">
        {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    <div class="col-md-6">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>
</div>

{{ form_end(form) }}