{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ message.subject }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ message.body }}</td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ message.createAt ? message.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ message.updatedAt ? message.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_messages_index') }}" class="m-2">back to list</a>

    <a href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>

{% endblock %}
